.CartWidget {
    color: #66806A;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.Cart{
    width: 32px;
    filter: invert(48%) sepia(3%) saturate(2202%) hue-rotate(78deg) brightness(98%) contrast(89%);
}
.CartWidgetCant{
    margin: 8px;
}
.Quantity {
    padding: 5px;
    margin-top: 5px;
}