h2 {
    text-align: center;
    color: #FFC286;
    text-shadow: 0.5px 0.5px #DFA770;
}
.CardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}
.card-body {
    text-align: center;
    margin: 15px;
}