* {
    font-family: 'Recoleta';
    color: #66806A;
}
.app-header {
    margin-top: 40px;
    width: 100%;
}
.Logo {
    width: 125px;
    height: 125px;
}
.ButtonNav {
    font-size: 20px;
    margin: 40px 80px;
    background-color:#fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.ButtonNav:hover {
    background-color: #66806A;
    color: #fff;
}
.ButtonNav:active {
    background-color:  #FFC286;
    color: #66806A;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1 {
    text-align: center;
    font-size: 48px;
}