.ItemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}
.ButtonCounter {
    background-color: #66806A;
    width: 40px;
    height: 30px;
    margin: 10px;
    color: #fff;
    border: 1px solid #66806A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}
.ButtonCounter:hover {
    background-color: #FFC286;
    border: 1px solid #FFC286;
}
.ButtonCounter:active {
    background-color: #FFC286;
    border: 1px solid #FFC286;
    color: #66806A;
}
.Quantity {
    margin: 10px;
}
.AddToCart {
    position: absolute;
    top: 60px;
    padding: 5px;
    width: 130px;
    background-color: #66806A;
    color: #fff;
    border: 1px solid #66806A;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2 all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}
.AddToCart:hover {
    background-color: #FFC286;
    border: 1px solid #FFC286;
    color: #66806A;
}
.AddToCart:active {
    background-color: #66806A;
    border: 1px solid #66806A;
    color: #FFC286;
}